@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}



#navbar {
  display:flex;
  align-items:left;
  justify-content:left;
  position:fixed;
}




main {
  display:flex;
  
  margin:auto;
}

** end of styles.css **

